# Arquivos do sistema
.DS_Store
desktop.ini

# Arquivos de Log e temporários
*.log
hs_err_pid*.log
replay_pid*.log

# Pasta do IntelliJ a nível de projeto
.idea/

# Arquivos e pastas do Android Studio / IntelliJ dentro do projeto
*/.idea/
*/.gradle/
*/build/
*/captures/

# Arquivos locais
local.properties

# Keystores
*.jks
*.keystore

# Google Services - MUITO IMPORTANTE
google-services.json
*/google-services.json
**/google-services.json

# Arquivos gerados
*.apk
*.aab
*.ap_
*.dex
*.jar
